@model IEnumerable<ESN.Domain.Entities.News>
@{
    ViewBag.Title = "AllNews";
    Layout = "~/Views/News/_NewsLayout.cshtml";
}

<h2>AllNews</h2>

<p>Have @Model.Count() news</p>

@Html.Partial("_NewsList", Model)