@{
    string classDefault = "";
    string classActive = "active";

    string controller = (string)ViewContext.Controller.ControllerContext.RouteData.Values["controller"];
    string action = (string)ViewContext.Controller.ControllerContext.RouteData.Values["action"];

    //ViewBag.NavProfileSec;

}

<ul class="nav nav-tabs">

    
        <li class=@(action == "FriendsOfUser" ? classActive : classDefault)>

            @Html.RouteLink("FriendsOfUser",
                             new
                             {
                                 Controller = "FriendsList",
                                 Action = "FriendsOfUser",
                                 login = User.Identity.Name.Split('|')[0]
                             })
        </li>

    <li class=@(action == "SubscriberOfUser" ? classActive : classDefault)>

        @Html.RouteLink("SubscriberOfUser",
                             new
                             {
                                 Controller = "FriendsList",
                                 Action = "SubscriberOfUser",
                                 login = User.Identity.Name.Split('|')[0]
                             })
    </li>

    <li class=@(action == "Index" ? classActive : classDefault)>

        @Html.RouteLink("Index",
                             new
                             {
                                 Controller = "FriendsList",
                                 Action = "Index",
                             })
    </li>

    

    


</ul>
