@using ESN3.WebUI.Models
@using ESN3.WebUI.HtmlHelpers
@model ProfilesListViewModel

@{
    Layout = "~/Views/FriendsList/_FriendsLayout.cshtml";
}

<h2>Subscribers of @(Model.Profile == null ? "Профиль не существует" : Model.Profile.fName)</h2>

<p>Have @ViewBag.TotalItems subscribers</p>

@foreach (var p in Model.Profiles)
{
    @Html.Partial("ProfileSummary", p)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("ProfilesList", new { page = x }))
</div>
