@using ESN.WebUI.Models
@using ESN.WebUI.HtmlHelpers
@model ProfilesListViewModel

@{
    ViewBag.Title = "Товары";
}

@foreach (var p in @Model.Profiles)
{
    @Html.Partial("ProfileSummary", p)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>