
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>Action Index</p>
<p>Controller Messages2</p>

@Html.ActionLink("Index", "Index", "Messages2")

@Html.ActionLink("Talks", "Talks", "Messages2")

@Html.ActionLink("SendMessage", "SendMessage", "Messages2")

@Html.ActionLink("OneTalk", "OneTalk", "Messages2")