
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 text-left">
        @Html.Partial("_NavigationProfileSection")
    </div>
</div>

<h2>Action: Index</h2>
<p>Controller: Profile</p>


<img class="center-block img-responsive" alt="" src="@(Url.Action("GetImage", "Image", new { ImageId = default(Guid) }))" />
